.aboutContainer {
    width: 100%;
    height: calc(100vh - 150px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.aboutWrapper {
    width: 100%;
    height: 75%;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #342d2b;
}

.text {
    max-width: 500px;
}

.photo {

}

.aboutWrapper h1 {
    margin-bottom: 25px;
}

.aboutWrapper p {
    margin-bottom: 35px;
}

.button {
    background-color: #800000;
    border: none;
}

.button:hover {
    background-color: brown;
}

@media (max-width: 991px) {
    .aboutWrapper {
        padding: 100px 15px 100px 15px;
    }
}
