.aboutContainer{
    max-width: 830px;
    width: 100%;

}
.aboutWrapper{
    max-width: 500px;
    width: 100%;

    padding: 200px 15px 200px 50px;

}

.aboutWrapper h1{
    margin-bottom: 25px;
}
.aboutWrapper p{
    margin-bottom: 35px;
}
.button{
    background-color: brown;
    border: none;
}
.button:hover{
    background-color: brown;
}

@media (max-width: 991px) {
    .aboutWrapper{
        padding: 100px 15px 100px 15px;
    }
}
